<!DOCTYPE html>
<html>
<head>
  <title>Edit Recipe</title>
    <link rel="stylesheet" href="/edit.css" />
</head>
<body>
  <h1>Edit Recipe</h1>
  <form action="/recipes/edit/<%= recipe._id %>" method="POST">
    <label>Title:</label>
    <input type="text" name="title" value="<%= recipe.title %>" required />

    <label>Price:</label>
    <input type="number" name="price" value="<%= recipe.price %>" required />

    <label>Image URL:</label>
    <input type="text" name="image" value="<%= recipe.image %>" required />

    <label>Ingredients:</label>
    <textarea name="ingredients"><%= recipe.ingredients %></textarea>

    <label>Steps:</label>
    <textarea name="steps"><%= recipe.steps %></textarea>

    <button type="submit">Save Changes</button>
  </form>
</body>
</html>
